@model IEnumerable<WebApplicationIdentity.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3>Feedback and contact us data</h3>
        </div>
        @* <div class="col-6 text-end">
            <a asp-action="Create">Create New</a>
        </div> *@
    </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">

            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
               @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  *@
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
