@model WebApplicationIdentity.Models.AddJobs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AddJobs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._10_cri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._10_cri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._12_cri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._12_cri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad_cri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad_cri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CTC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CTC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Company_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Job_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
