@model WebApplicationIdentity.Models.EducationModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EducationModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class10_Passing_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class10_Passing_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class10_Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class10_Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class12_Passing_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class12_Passing_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class12_Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class12_Percentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graduation_Completion_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graduation_Completion_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Graduation_Percentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Graduation_Percentage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentEducation_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
