@model IEnumerable<WebApplicationIdentity.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3>Student Index</h3>
        </div>

       @*  <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i>  Add New Student </a>
        </div> *@
    </div>
</div>
<table class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>

                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.StudentId" class="btn btn-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
