<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
@model IEnumerable<ApplicationUser>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3>User Index</h3>
        </div>
        <div class="col-6 text-end">
            <a class="nav-link text-dark btn btn btn-primary" id="register" asp-area="Identity" asp-page="/Account/Register"> <i class="bi bi-plus-circle-fill"> </i><b>Register </b></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="GetUsers" asp-controller="Admin" method="get">
            <input name="searchString" class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search by name</button>
        </form>
    </div>
    <div class="col-md-6">
        <a asp-action="GetUsers" class="text-dark"><b>Back to Full List</b></a>
    </div>
</div>
<br />

 <table class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">

            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                 
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Address</td>

                <td>
                    <a asp-controller="Admin" asp-action="GetUserDetails" class="btn btn-primary" asp-route-id="@user.Id">Details</a>
                    <a asp-controller="Admin" asp-action="DeleteUser" class="btn btn-danger" asp-route-id="@user.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> 
