@model WebApplicationIdentity.Models.JobApplication

@{
    ViewData["Title"] = "Create";
}

<h4>Fill form </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
 
            <input type="hidden" asp-for="User_id" value="@Model.User_id" />
            <input type="hidden" asp-for="Company_Id" value="@Model.Company_Id" />
            <input type="hidden" asp-for="Job_Id" value="@Model.Job_Id" /> 
@* 
            <input asp-for="User_id" value="@Model.User_id" />
            <input  asp-for="Company_Id" value="@Model.Company_Id" />
            <input  asp-for="Job_Id" value="@Model.Job_Id" /> *@


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNo" class="control-label"></label>
                <input asp-for="MobileNo" class="form-control" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraduationYear" class="control-label"></label>
                <input asp-for="GraduationYear" class="form-control" />
                <span asp-validation-for="GraduationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="skills" class="control-label"></label>
                <input asp-for="skills" class="form-control" />
                <span asp-validation-for="skills" class="text-danger"></span>
            </div>
          @*   <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@

        @*     <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Company_Id" class="control-label"></label>
                <select asp-for="Company_Id" class="form-control" asp-items="ViewBag.Company_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Job_Id" class="control-label"></label>
                <select asp-for="Job_Id" class="form-control" asp-items="ViewBag.Job_Id"></select>
            </div>  *@
           
            <div class="form-group">
                <input type="submit" value="Apply" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@* 
<div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
