@model WebApplicationIdentity.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraduationYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraduationYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.skills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.skills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Company_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddJobs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddJobs.Job_Id)
        </dd>
    </dl>
</div>
<div>
   @*  <a asp-action="Edit" asp-route-id="@Model?.ApplicationId">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
